{
  "plugins": [
    ["transform-react-jsx"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./utils"
      }
    }],
    ["transform-async-to-generator"]
  ]
}
